<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon"
        href="https://firebasestorage.googleapis.com/v0/b/pypay-cloudserver.appspot.com/o/favicon.ico?alt=media&token=9b187be4-a6c1-4445-b308-4595c401dc30">

    <title>PYPAY- a payment system for PYsales robot</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


    <!-- Custom fonts for this template -->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/style.css"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

</head>


<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="site-heading text-center text-white d-lg-block">
                        <span class="site-heading-upper text-primary mb-3 first-words">A payment system for PYsales
                            robot</span>
                        <br>
                        <span class="site-heading-lower text-head mb-5">PYPAY</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark navbar-success py-lg-4 second-words" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Functions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment">Introduction
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/PYPAY">PYPAY system</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/PYsales">PYsales robot</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/demo">Demo video</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded"
                            href="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/download">Downloads</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="page-section clearfix">

        <div class="w40leftblank cta-inner"></div>
        <div class=" w20div">
            <h1 class="form-textex">
                <span class="font"><strong><em>Login</em></strong></span>
            </h1>
            <div class="w100div">
                <botton class="signupbtn" style="float: right;"
                    onclick="location.href='https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/signup'">Signup
                </botton>
            </div>

            <form action="https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/login" class="login-form">


                <div class="txtb">
                    <input type="text" id="inputUsername">
                    <span data-placeholder="Username"></span>
                </div>

                <div class="txtb">
                    <input type="password" id="inputPassword">
                    <span data-placeholder="Password"></span>
                </div>

                <input type="submit" class="logbtn" id="loginButton" value="Login">

                <div class="bottom-text">
                    <input type="button" onclick="abc()" value="forgot your password?"
                        style="border:0;cursor:pointer;background: #FFF4F4;text-decoration:underline;" />
                </div>

            </form>


        </div>


        <script type="text/javascript">
            function abc() {
                event.preventDefault();
                var forgotpd = prompt("Please fill in your email");

                if (forgotpd) {

                    var emailRegxp = /^([\w]+)(.[\w]+)*@([\w]+)(.[\w]{2,3}){1,2}$/;



                    if (emailRegxp.test(forgotpd) != true) {
                        alert("Please fill in the correct email!");
                        return;
                    }
                    fetch("https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/forgotemail", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        mode: "cors",
                        body: JSON.stringify({
                            remail: forgotpd
                        })
                    }).then(res => res.json()).then(data => {

                        if (data.error) {
                            window.alert(`${data.error}`);
                        } else {
                            window.alert(`Sent email successfully!${data}`);

                        }
                    }).catch(err => window.alert(`error:${err}`));

                }
                else {
                    window.alert("Please fill in the email address!");
                }

            }
        </script>

    </section>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; PYPAY/PYsales 2019</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
        integrity="sha256-oE03O+I6Pzff4fiMqwEGHbdfcW7a3GRRxlL+U49L5sA=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(() => {

            const loginButton = $("#loginButton");

            const modalInputUsername = $("#inputUsername");
            const modalInputPassword = $("#inputPassword");


            $(".txtb input").on("focus", function () {
                $(this).addClass("focus");
            });

            $(".txtb input").on("blur", function () {
                if ($(this).val() == "")
                    $(this).removeClass("focus");
            });


            loginButton.on("click", event => {
                event.preventDefault();

                if (modalInputUsername.val() && modalInputPassword.val()) {

                    fetch("https://us-central1-pypay-cloudserver.cloudfunctions.net/payment/auth", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        mode: "cors",
                        body: JSON.stringify({
                            user: modalInputUsername.val(),
                            pass: modalInputPassword.val()
                        })
                    }).then(res => res.json()).then(data => {
                        loginButton.removeAttr("disabled");
                        modalInputUsername.removeAttr("disabled");
                        modalInputPassword.removeAttr("disabled");
                        modalInputUsername.val("");
                        modalInputPassword.val("");

                        if (data.error) {
                            alert("Username or password is incorrect!");

                        } else {
                            window.location.href = "https://us-central1-pypay-cloudserver.cloudfunctions.net/payment";
                        }
                    }).catch(err => alert(`error: ${err}`));
                } else {
                    alert("Please fill in Username and Password!");
                }
            });

        });

    </script>

</body>

</html>